<!--profile cover start-->
<div class="row">
  <div class="col-lg-12">
    <div class="cover-profile">
      <div class="profile-bg-img">
        <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.jpg" alt="bg-img">
        <div class="card-body user-info">
          <div class="col-md-12">
            <div class="media-left">
              <a href="javascript:;" class="profile-image">
                <img class="user-img img-circle" src="assets/images/avatar-4.jpg" alt="user-img">
              </a>
            </div>
            <div class="media-body row">
              <div class="col-lg-12">
                <div class="user-title">
                  <h2>Nike IN</h2>

                  <span class="text-inverse">Sports Wear </span>
                </div>
              </div>
              <div>
<!--
                <div class="pull-right cover-btn">
                  <button type="button" class="btn btn-primary m-b-10 m-r-10"><i class="icofont icofont-plus"></i> Follow</button>
                  <button type="button" class="btn btn-primary m-b-10"><i class="icofont icofont-ui-messaging"></i> Message</button>
                </div>
                 -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--profile cover end-->
<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset>
        <ngb-tab title="Bussiness Info">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">About Bussiness</h5>
                  <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="toggleEditProfile()">
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>
                </div>
                <div class="card-body">
                  <div class="view-info" *ngIf="editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table m-0">
                                  <tbody>
                                  <tr>
                                    <th scope="row">Brand Name</th>
                                    <td>Nike IN</td>
                                  </tr>
                                  <tr>
                                      <th scope="row">Email</th>
                                      <td><a href="javascript:;">NikeIn@phenix.com</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Mobile Number</th>
                                      <td>(0123) - 4567891</td>
                                    </tr>

                                    <tr>
                                        <th scope="row" >Payment Method</th>
                                      <td class="m-t-20 Payment">
                                        <div *ngFor="let i of payment" class=" col-12 m-b-10">
                                            <div class="checkbox-fade fade-in-primary">
                                                  <label>
                                                    <input type="checkbox" disabled checked >
                                                    <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                    <span class="text-inverse">{{i.name}}</span>
                                                  </label>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>



                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>

                                      <tr>
                                          <th scope="row">Location</th>
                                          <td>New York, USA</td>
                                        </tr>

                                  <tr>
                                    <th scope="row">Twitter</th>
                                    <td>@codedthemes</td>
                                  </tr>

                                  <tr>
                                    <th scope="row">Facebook</th>
                                    <td>F/NikeIn</td>
                                  </tr>

                                  <tr>
                                    <th scope="row">Instgram</th>
                                    <td>NikIn999</td>
                                  </tr>

<!--
                                  <tr>
                                    <th scope="row">brand Logo</th>
                                    <td>
                                      <img class="img-circle" src="http://via.placeholder.com/100x100">
                                    </td>
                                  </tr> -->



                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <div class="edit-info" *ngIf="!editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="icofont icofont-user"></i></span>
                                        <input type="text" class="form-control" placeholder="Full Name" value="Nike IN">
                                      </div>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="icofont icofont-location-em"></i></span>
                                        <input type="text" class="form-control" placeholder="Email" value="Nike@gmail.com">
                                      </div>
                                    </td>
                                  </tr>


                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="icofont icofont-mobile-phone"></i></span>
                                        <input type="text" class="form-control" value="(0123) - 4567891" placeholder="Mobile Number">
                                      </div>
                                    </td>
                                  </tr>

                                  <tr>
                                      <th scope="row" >Payment Method</th>
                                    <td class="m-t-20 Payment">
                                      <div *ngFor="let i of payment" class=" col-12 m-b-10">
                                          <div class="checkbox-fade fade-in-primary">
                                                <label>
                                                  <input type="checkbox" disabled  [value]="false">
                                                  <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                  <span class="text-inverse">{{i.name}}</span>
                                                </label>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>



                                  </tbody>
                                </table>
                              </div>
                            </div>

                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>


                                  <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-addon"><i class="icofont icofont-location-pin"></i></span>
                                          <input type="text" class="form-control" placeholder="Address" value="New York, USA">
                                        </div>
                                      </td>
                                    </tr>

                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="icofont icofont-social-twitter"></i></span>
                                        <input type="text" class="form-control" value="@codedthemes" placeholder="Twitter Id">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="icofont icofont-social-skype"></i></span>
                                        <input type="email" class="form-control" value="codedthemes.demo" placeholder="Skype Id">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="icofont icofont-earth"></i></span>
                                        <input type="text" class="form-control" value="www.demo.com" placeholder="website">
                                      </div>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                          <div class="text-center">
                            <a href="javascript:;" class="btn btn-primary waves-effect waves-light m-r-10">Save</a>
                            <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Cancel</a>
                          </div>
                        </div>
                        <!-- end of edit info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-body -->
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-header-text">Description About Bussiness</h5>
                      <button id="edit-info-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="toggleEditAbout()">
                        <i class="icofont {{ editAboutIcon }}"></i>
                      </button>
                    </div>
                    <div class="card-body user-desc">
                      <div class="view-desc" *ngIf="editAbout">
                        <div [innerHTML]="editorContent"></div>
                      </div>
                      <div class="edit-desc" *ngIf="!editAbout">
                        <div class="col-md-12">
                          <quill-editor
                            [(ngModel)]="editorContent"
                            [options]="editorConfig"
                            (blur)="onEditorBlured($event)"
                            (focus)="onEditorFocused($event)"
                            (ready)="onEditorCreated($event)"
                            (change)="onContentChanged($event)">
                          </quill-editor>
                        </div>
                        <div class="text-center">
                          <a href="javascript:;" class="btn btn-primary waves-effect waves-light m-r-20 m-t-20">Save</a>
                          <a href="javascript:;" id="edit-cancel-btn" class="btn btn-default waves-effect m-t-20" (click)="toggleEditAbout()">Cancel</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- personal card end-->
            </div>
          </ng-template>
        </ngb-tab>


        <ngb-tab title="Admin Info">

              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-40">
                  <!-- personal card start -->
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-header-text">About Admin</h5>
                      <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="toggleEditProfile()">
                        <i class="icofont {{ editProfileIcon }}"></i>
                      </button>
                    </div>
                    <div class="card-body">
                      <div class="view-info" *ngIf="editProfile">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="general-info">
                              <div class="row">
                                <div class="col-lg-12 col-xl-6">
                                  <div class="table-responsive">
                                    <table class="table m-0">
                                      <tbody>
                                      <tr>
                                        <th scope="row">Admin Name * </th>
                                        <td>Ashraf Zidan</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Email * </th>
                                          <td><a href="javascript:;">AshrafZidan996@gmail.com</a></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">Mobile Number</th>
                                          <td>01003196789</td>
                                        </tr>



                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                                <!-- end of table col-lg-6 -->
                                <div class="col-lg-12 col-xl-6">
                                  <div class="table-responsive">
                                    <table class="table">
                                      <tbody>


                                      <tr>
                                        <th scope="row">Location</th>
                                        <td>Tanta , Cairo</td>
                                      </tr>

                                      <tr>
                                        <th scope="row">Password</th>
                                        <td>*******************
                                          <a title="Change Password"  [routerLink]="['/changePassword']">
                                            <i class="fa fa-arrow-right pull-right pass-btn" aria-hidden="true" ></i>
                                          </a>
                                        </td>
                                      </tr>


    <!--
                                      <tr>
                                        <th scope="row">brand Logo</th>
                                        <td>
                                          <img class="img-circle" src="http://via.placeholder.com/100x100">
                                        </td>
                                      </tr> -->



                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                                <!-- end of table col-lg-6 -->
                              </div>
                              <!-- end of row -->
                            </div>
                            <!-- end of general info -->
                          </div>
                          <!-- end of col-lg-12 -->
                        </div>
                        <!-- end of row -->
                      </div>
                      <!-- end of view-info -->
                      <div class="edit-info" *ngIf="!editProfile">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="general-info">
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="table-responsive">
                                    <table class="table">
                                      <tbody>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="icofont icofont-user"></i></span>
                                            <input type="text" class="form-control" placeholder="Full Name" value="Ashraf Zidan">
                                          </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="icofont icofont-location-em"></i></span>
                                            <input type="text" class="form-control" placeholder="Email" value="AshrafZidan996@gmail.com">
                                          </div>
                                        </td>
                                      </tr>


                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="icofont icofont-mobile-phone"></i></span>
                                            <input type="text" class="form-control" value="01003196789" placeholder="Mobile Number">
                                          </div>
                                        </td>
                                      </tr>


                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <select class="m-r-5 custom-select col-md-4 col-xs-12"
                                           >



                                              <option selected>Country...</option>
                                              <option selected>Egypt</option>


                                            </select>


                                          <select class="custom-select m-r-5 col-md-4 col-xs-12"

                                            >

                                              <option selected>City...</option>
                                              <option> cairo</option>
                                              <option >cairo</option>
                                              <option >cairo</option>

                                            </select>


                                            <select class="custom-select m-r-5 col-md-4 col-xs-12" >
                                                <option selected>State...</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                              </select>





                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>

                                <!-- end of table col-lg-6 -->
                                <div class="col-lg-6">
                                  <div class="table-responsive">
                                    <table class="table">
                                      <tbody>

                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="icofont icofont-social-twitter"></i></span>
                                            <input type="text" class="form-control" value="@codedthemes" placeholder="Twitter Id">
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="icofont icofont-social-skype"></i></span>
                                            <input type="email" class="form-control" value="codedthemes.demo" placeholder="Skype Id">
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="icofont icofont-earth"></i></span>
                                            <input type="text" class="form-control" value="www.demo.com" placeholder="website">
                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                                <!-- end of table col-lg-6 -->
                              </div>
                              <!-- end of row -->
                              <div class="text-center">
                                <a href="javascript:;" class="btn btn-primary waves-effect waves-light m-r-20">Save</a>
                                <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Cancel</a>
                              </div>
                            </div>
                            <!-- end of edit info -->
                          </div>
                          <!-- end of col-lg-12 -->
                        </div>
                        <!-- end of row -->
                      </div>
                      <!-- end of edit-info -->
                    </div>
                    <!-- end of card-body -->
                  </div>


                </div>

                  <!-- personal card end-->
              </ng-template>

        </ngb-tab>

