<section class="login fixed p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">


          <form [formGroup]="complexForm" novalidate (submit)="loginFun($event)" class="md-float-material">
            <div class="text-center">
              <img src="assets/images/auth/logo-dark.png" alt="logo.png">
            </div>
            <div class="auth-box">

            <img id="profile-img" class="profile-img-card img-circle img-100" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />

               <div class="row m-b-20">
                <!-- <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>
                </div> -->
              </div>
              <!-- <hr/>  -->
              <div class="input-group">
                <input type="email"  name="Email" class="form-control"  placeholder="Your Email Address" [formControl]="complexForm.controls['email']"
                 [ngClass]="{ 'has-error' : !complexForm.controls['email'].valid && complexForm.controls['email'].touched && complexForm.controls['email'].dirty }"

                >

                <span class="md-line"></span>
              </div>

              <!-- validation -->
              <div *ngIf="complexForm.controls['email'].errors && (complexForm.controls['email'].dirty && complexForm.controls['email'].touched)">

                  <p class="text-left text-danger" [hidden]="! complexForm.controls['email'].errors.required"> * Email is required

                  </p>
                  <p class="text-left text-danger"  [hidden]="! complexForm.controls['email'].errors.pattern"> * Email format invalid </p>
                </div>



              <div class="input-group">
                <input type="password" class="form-control" placeholder="Password"
                [formControl]="complexForm.controls['password']"
                 [ngClass]="{ 'has-error' : !complexForm.controls['password'].valid && complexForm.controls['email'].touched && complexForm.controls['password'].dirty }">
                <span class="md-line"></span>
              </div>


              <!-- validation -->
              <div *ngIf="complexForm.controls['password'].errors && (complexForm.controls['password'].dirty && complexForm.controls['password'].touched)">

                  <p class="text-left text-danger" [hidden]="! complexForm.controls['password'].errors.required"> * Password is required
                  </p>
                  </div>

              <div class="row m-t-25 text-left">
                <div class="col-sm-6 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                  <a href='authentication/forgot' class="text-right f-w-600 text-inverse"> Forgot Your Password?</a>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button [disabled]="! complexForm.valid " type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign in</button>
                </div>

              </div>
              <hr/>
              <div class="row">
                <div class="text-left f-w-600 col-md-10">
                  <span class="text-inverse"> Don't Have Account ?</span>
                  <a href="authentication/registration" class="m-b-0">Register</a>

                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>

                <div *ngIf="currentFileUpload" class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                    aria-valuemin="0" aria-valuemax="100"
                    [ngStyle]="{width:progress.percentage+'%'}">
                    {{progress.percentage}}%</div>
                </div>
                 
                <label class="btn btn-default">
                  <input type="file" (change)="selectFile($event)">
                </label>
                 
                <button class="btn btn-success" [disabled]="!selectedFiles"
                  (click)="upload()">Upload</button>
              

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  <!-- <app-registerupload></app-registerupload> -->
  <!-- <app-registerupload></app-registerupload> -->
</section>


